.block_hover:hover {
    
    background-color:rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.block_hide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color:rgb(255, 255, 255);
    cursor: pointer;
}